body {
    background-color: rgb(0, 0, 0);
    background-size: 400% 400%;
    height: 100vh; 
    color: white;
}

#section1 {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;

}


h1.text-center.mb-5 {
  margin-top: 10%;
  text-decoration: underline;
  text-decoration-color: #b0f592;

}

/* section 1 */

/* name animation */

#colour-txt {
  display: inline-block;
}

.letter {
  display: inline-block;
  font-size: 3rem; /* adjust size as needed */
  animation: jump 0.6s ease-in-out forwards;
}

@keyframes jump {
  0% {
      transform: translateY(0); /* normal position */
  }
  50% {
      transform: translateY(-20px); /* move up */
  }
  100% {
      transform: translateY(0); /* back to normal position */
  }
}

.letter:nth-child(1) {
  animation-delay: 0s;
}
.letter:nth-child(2) {
  animation-delay: 0.1s;
}
.letter:nth-child(3) {
  animation-delay: 0.2s;
}
.letter:nth-child(4) {
  animation-delay: 0.3s;
}
.letter:nth-child(5) {
  animation-delay: 0.4s;
}
.letter:nth-child(6) {
  animation-delay: 0.5s;
}
.letter:nth-child(7) {
  animation-delay: 0.6s;
}
.letter:nth-child(8) {
  animation-delay: 0.7s;
}
.letter:nth-child(9) {
  animation-delay: 0.8s;
}
.letter:nth-child(10) {
  animation-delay: 0.9s;
}
.letter:nth-child(11) {
  animation-delay: 1s;
}
.letter:nth-child(12) {
  animation-delay: 1.1s;
}
.letter:nth-child(13) {
  animation-delay: 1.2s;
}


 /* BUTTONS ON HOME PAGE */

 #colour-txt {
  color:#b0f592;
 }
  
 .btn-container {
	display: flex;
	justify-content: center;
	gap: 1rem; /* gap between buttons */
  }
  
  .btn {
	font-weight: 600;
	transition: all 300ms ease; /*transition effect that makes the hover effect smooth instead of abrupt */
	padding: 1rem;
	width: 9rem;
	border-radius: 2rem;
  
  }
  
/*FORMATTING/LAYOUT STYLES FOR HOME BUTTONS*/

button.button-home {
  position: relative;
  display: inline-block;
  border: 0; /* Removes the default button border */
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
}

/*APPEARANCE STYLES FOR HOME BUTTONS */ 

button.button-home {
  font-weight: 600;
  color: #382b22;
  padding: 0.75em 1.5em;
  outline: none;
  background: #fff0f0;
  border: 2px solid #080708;
  border-radius: 0.75em;
  transform-style: preserve-3d; /*ensures that the 3D transformations of the buttons will be maintained*/                          
}


/*::before pseudo-element allows the btn to have effects and decoration without having to alter the html or other css code - it's just for aesthetics */
button.button-home::before {
  position: absolute; /*position ::before absolutely within the button */
  content: ""; /* adding empty content allows ::before to render */
  width: 100%;      
  height: 100%;       
  right: 0;     /*aligns the 3d effect to the right */
  bottom: 0;   /*    and the bottom of the btn      */
  background: #f9c4d2; 
  border-radius: inherit;
  box-shadow: 0 0 0 2px #000000; /*creates a black border around the shadow*/
  transform: translate3d(0, 0.75em, -1em); /*0: no horizontal movement, 0.75em: pushing element slightly downward, -1em: pushing it backward for a 3D depth effect on the button */
} /*note: (x, y, z) where x= horizontal, y= vertical, z= depth*/

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: var(--bs-btn-active-color);
    background-color: var(--bs-btn-active-bg);
    border-color: transparent;
}

button.button-home:hover {
  background: #ffe9e9; /* Change background color on hover to a slightly darker colour */
  transform: translate(0, 0.25em); /* Move the button slightly downward when hovering over it */
}
button.button-home:hover::before {
  box-shadow: 0 0 0 2px #000000, 0 0.5em 0 0 #ffe3e2; /* dual-box shadow effect: adds another shadow effect and moves it downward */
}
button.button-home:active {
  background: #ffe9e9;
  transform: translate(0em, 0.75em); /* Move the button more downward on click*/
}
button.button-home:active::before {                                                       /*these both remove the 3D effect when clicking the btn*/
  box-shadow: 0 0 0 2px #000000, 0 0 #ffe3e2;
  transform: translate3d(0, 0, -0.75em); /* Moves pseudo-element more backward on click */
}

 /*making responsive for mobile*/
 @media only screen and (max-width: 767px) {

    .btn-container {
      gap: 0.75rem;
    }
  
    .btn {
      width: 100%;
      padding: 0%;
    }
  }

/* end of section 1 */

/* SECTION 2 */


@keyframes moveUp {
  0% {
      transform: translateY(50px); /* normal position */
      opacity: 0;
  }
  50% {
      transform: translateY(-20px); /* move up */
      opacity: 1;
  }
  100% {
      transform: translateY(0); /* back to normal position */
      opacity: 1;
  }
}

.languages {
  font-size: 2rem; /* adjust size as needed */
  opacity: 0; /* initially hidden */
  transform: translateY(50px); /* start off below */
  transition: opacity 0.3s ease-out;
}

/* Adjust for each child with staggered delays */
.languages.staggered {
  animation: moveUp 0.6s ease-in-out forwards;
}

.languages:nth-child(2) {
  transition-delay: 100ms;
}
.languages:nth-child(3) {
  transition-delay: 200ms;
}
.languages:nth-child(4) {
  transition-delay: 300ms;
}
.languages:nth-child(5) {
  transition-delay: 400ms;
}
.languages:nth-child(6) {
  transition-delay: 500ms;
}

.languages {
  background-color: #b0f592;
  margin-bottom: 2%;
  padding: 2%;
  margin: 18px;
  width: 30%;
  border-radius: 40px;
  color: black;
}

.languages:hover {
  background-color: #90ff94;
  box-shadow: 0 0 5px rgb(73, 248, 91), 0 0 8px rgba(73, 248, 91), 0 0 10px rgba(73, 248, 91);
}




/* end of section 2 */

/* SECTION 3 PROJECTS */

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
    
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


.projects:nth-child(2) {
    transition-delay: 200ms;
}

.projects:nth-child(3) {
    transition-delay: 400ms;
}

.projects:nth-child(4) {
    transition-delay: 600ms;
}

img {
  width: 30em;
  height: 20em;
  border: 3px solid black;
  border-radius: 9%;
}

.row.hidden.projects {
  display: flex;               
  justify-content: center;    
  align-items: center;        
  margin-bottom: 84px;      
}

.col-md-auto {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  width: 100%;
  height: auto;
}

p.proj-desc {

  font-weight: 600;
  background-color:#b0f592;
  padding: 1%;
  font-weight: bolder;
  color:rgb(0, 0, 0);
  padding: 2%;
  border-radius: 10px;
}


h2.proj-title {
  text-decoration: underline;
  text-decoration-color: #b0f592;
}

p.js, p.html, p.css {
  display: inline-block;
  margin-right: 3%;
  color: black;
}

p.js {
  background-color: rgb(248, 255, 169);
  padding: 1%;
  border-color: rgb(241, 252, 129);
  border-radius: 5px;
  border-style: solid;
}

p.html {
  background-color: rgb(255, 192, 247);
  padding: 1%;
  border-color: rgb(255, 134, 239);
  border-radius: 5px;
  border-style: solid;
}

p.css {
  background-color: rgb(177, 250, 141);
  padding: 1%;
  border-color: rgb(143, 248, 91);
  border-radius: 5px;
  border-style: solid;
}

.python {
  background-color: rgb(189, 176, 255);
  padding: 1%;
  border-color: rgb(146, 124, 251);
  border-radius: 5px;
  border-style: solid;
  display: inline-block;
  width: 13%;  
  text-align: center; 
  color: black;
}

.java {
  background-color: rgb(228, 182, 255);
  padding: 1%;
  border-color: rgb(194, 88, 255);
  border-radius: 5px;
  border-style: solid;
  display: inline-block;
  width: 10%;  
  text-align: center; 
  color: black;
}

.fa-circle-play:before, .fa-play-circle:before {
  content: "\f144";
  font-size: 45pt;
  color: #a1f971;

}

.icon-container {
  display: flex;
  flex-direction: column; /* Stack the icons vertically */
  align-items: center; /* Center align the icons horizontally */
  gap: 10px; /* Add space between the icons */
}

.icon-j {
  display: flex;
  flex-direction: row; 
  margin-left: 40%;
  gap: 20px; /* Add space between the icons */
}

.java-i {
  content: "\f144";
  font-size: 45pt;
  color: #a1f971;

}

.java-i:hover {
  transform: scale(1.1); /*scales slightly when hovering over btn */

}

.java-i:hover::after {
  content: attr(data-icon); /*Displays content based on the data-icon content that's in the html file */
  position: absolute;
  border-radius: 5px;
  bottom: 70px;
  left: 40%;
  transform: translateX(-40%);
  font-size: 20px;
  color: black;
  font-family: Arial, sans-serif !important;
  font-weight: normal !important; 
  line-height: 1; 
  background-color:rgb(160, 255, 112);
  padding: 2%;

}

.java-i:hover::after {
  opacity: 1; /* shows data-icon content*/
}

.java-i:hover {
  text-shadow: none;
}



/* Make sure the icons have a consistent size */
a i {
  font-size: 45pt; /* Adjust icon size */
  color: #a1f971; 
}

/* Optional: hover effect */
a i:hover {
  color: #a1f971;
  text-shadow: 
    -2px -2px 0px #caf5c3,  
    2px -2px 0px #caf5c3,
    -2px 2px 0px #caf5c3,  
    2px 2px 0px #caf5c3; 
}

.vid-container {
  position: relative;
  width: 100%;
  padding-bottom: 30.25%; /* 16:9 aspect ratio (height / width * 100) */
  height: 0;
  overflow: hidden;
  margin-left: 8%;
}

.vid-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 30em;
  height: 20em;
  border: none;
}


/* end of section 3 */

@media screen and (max-width: 600px) {

    .languages {
        background-color: #b0f592;
        margin-bottom: 2%;
        padding: 0%;
        margin: 5px;
        width: 47%;
        border-radius: 40px;
        color: black;
    }

    p.proj-desc {
      font-weight: 600;
      background-color: #b0f592;
      padding: 1%;
      font-weight: bolder;
      color: rgb(0, 0, 0);
      padding: 2%;
      border-radius: 10px;
      width: 100%;
    }

    .icon-container {
      display: flex;
      flex-direction: row; /* Stack the icons vertically */
      align-items: center; /* Center align the icons horizontally */
      gap: 10px; /* Add space between the icons */
      text-align: center;
    }

    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      --bs-gutter-x: 1.5rem;
      --bs-gutter-y: 0;
      width: 100%;
      padding-right: calc(var(--bs-gutter-x)* .5);
      padding-left: calc(var(--bs-gutter-x)* .5);
      margin-right: auto;
      margin-left: auto;
      text-align: center;
  }

    img {
      width: 26em;
      height: 20em;
      border: 3px solid black;
      border-radius: 9%;
  }

  .java {
    width: 34%;
  }

  .python {
    width: 40%;
  }

  .jp-proj {
    display: flex;
      flex-direction: column; /* Stack the icons vertically */
      align-items: left; /* Center align the icons horizontally */
      gap: 10px;
  }

  .vid-container {
    position: relative;
    width: 100%;
    padding-bottom: 80%; 
    overflow: hidden;
  }
  
  .vid-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 30em;
    height: 40em;
    border: none;
    
  }
}

